/* blog page css */

.blog {
  &-item {
    &__content { }

    &__title {
      color: $primary-blue;

      .skeleton & {
        @include skeleton-base;
      }
    }

    &__meta {
      font-style: italic;
      font-size: .8em;

      .skeleton & {
        @include skeleton-base;
        margin-bottom: 0.5em;
      }
    }

    p {
      .skeleton & {
        @include skeleton-base;
      }
    }
  }

  &-detail {
    max-width: 750px;

    &__title {
      font-size: 1.5em;

      .skeleton & {
        @include skeleton-base;
        height: 1em;
      }
    }

    &__summary {
      color: $secondary-text-color;
      margin-bottom: 1.5em;

      .skeleton & {
        @include skeleton-base;
      }
    }

    &__meta {
      display: flex;
      margin: 1.5em 0;
      height: 60px;
    }

    &__meta-item {
      font-size: .8em;

      .skeleton & {
        @include skeleton-base;
        height: 1.2em;
        margin-bottom: 10px;
        width: 200px;
      }
    }

    &__avatar {
      font-size: 60px;
      border-radius: 50%;
      margin-right: 20px;
      width: 1em;
      height: 1em;

      .skeleton & {
        @include skeleton-base;
        width: 1em;
        border: none;
      }
    }

    &__image {
      margin-bottom: 2em;

      .skeleton & {
        @include skeleton-base;
        height: 500px;
      }
    }

    &__content {
      p {
        margin-bottom: 1.5em;
      }

      h1,
      h2,
      h3 {
        margin-bottom: .5em;
      }
    }

    &__tag-box {
      display: flex;
      flex-flow: wrap;
      margin-top: 2em;

      .skeleton & {
        display: none;
      }
    }

    &__tag-text {
      margin-right: .5em;
    }

    &__tag {
      background-color: $tag-background-color;
      border-radius: .3em;
      padding: .1em .5em;
      margin-right: 5px;
      margin-bottom: .5em;
      font-size: .8em;
    }
  }
}
