.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $header-background-color;

  &__menu {
    display: flex;
  }

  &__menu-item {
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    height: 30px;
    color: $secondary-text-color;

    svg {
      margin-right: 10px;

      @include to-tablet {
        font-size: 30px;
      }
    }

    span {
      display: none;

      @include from-tablet {
        display: block;
      }
    }
  }
}

.active {
  color: $primary-blue;
}
