/* ==========================================================================
   #GLOBAL
   ========================================================================== */

$primary-blue: rgb(45, 136, 255);
$primary-text-color: rgb(228, 230, 235);
$secondary-text-color: rgb(176, 179, 184);

$background-color: #18191a;
$light-background-color: rgb(36, 37, 38);

$header-background-color: $light-background-color;
$tag-background-color: $light-background-color;

$skeleton-from-color: $light-background-color;
